<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.unity3d.player"
    android:installLocation="preferExternal">

	<!-- Requisitos de pantallas -->
	<supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:anyDensity="true" />

	<!-- 🔐 Permisos necesarios para WebRTC y Vuplex -->
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
	<uses-permission android:name="android.permission.CAMERA" />

	<!-- 🔍 Características de VR que recomienda Meta -->
	<uses-feature android:name="android.hardware.vr.headtracking" android:required="true" />
	<uses-feature android:name="android.hardware.vr.high_performance" android:required="true" />

	<application
        android:theme="@style/UnityThemeSelector"
        android:icon="@mipmap/app_icon"
        android:label="@string/HWL_Eva">

		<activity android:name="com.unity3d.player.UnityPlayerActivity"
                  android:label="@string/HWL_Eva"
                  android:launchMode="singleTask"
                  android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize"
                  android:hardwareAccelerated="true"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>

			<!-- 🚀 Marca la actividad principal como la de Unity -->
			<meta-data android:name="unityplayer.UnityActivity" android:value="true" />
		</activity>

		<!-- 👇 Esto previene que Unity intente manejar permisos con su propio popup -->
		<meta-data android:name="unityplayer.SkipPermissionsDialog" android:value="true" />

	</application>
</manifest>
